[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"

[dev-packages]
black = "*"
isort = {extras = ["pipfile"],version = "*"}
pytest = "*"

[requires]
python_version = "3.7"

[pipenv]
# for black
allow_prereleases = true
